<!DOCTYPE html>
<html lang="en" th:fragment="layout(title, content)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">Document</title>
</head>
<body>
    <header>
        <h1>BONJOUR</h1>
        <a th:href="@{/}" th:text="#{nav.home}">Accueil</a>
        <a th:href="@{/salut}" th:text="#{nav.greeting}">Dire Bonjour</a>
        <a th:href="@{/products}" th:text="#{nav.products}">Liste des produits</a>
    </header>
    <main>
        <div th:replace="${content}"></div>
    </main>
    
</body>
</html>