<!DOCTYPE html>
<html lang="en" th:replace="fragments/layout :: layout(~{::title},~{::section})">
<head>
    <title>Ajout de produits</title>
</head>
    <section>
        <h2>Ajouter un produit</h2>
        <form th:action="@{/products/add}" method="post" th:object="${product}">
            <label for="name">Nom du produit :</label>
                <input type="text" name="name" placeholder="Nom du produit"  th:field="*{name}">
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></div>
            <label for="price">Prix du produit :</label>
                <input type="number" name="price" placeholder="Prix du produit" step="0.01" >
            <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" style="color: red;"></div>
            <button type="submit">Ajouter le produit</button>
            <a th:href="@{/products}">Retour à la liste des produits</a>
        </form>
    </section>


</html>